<div style="display: flex; justify-content: space-evenly; padding: 16px;">
  <!--welcome div-->
  <div style="padding: 16px">
    <h1>All your movies in one place</h1>
    <p>Some generic info about the website</p>
  </div>
  <!--auth div-->
  <div style="padding: 16px;">
    <mat-card>
      <!--<mat-card-title style="margin-bottom: 0">Log In</mat-card-title>-->
      <!--<mat-card-content style="margin-bottom: 0">-->
        <!--<form>-->
          <!--<mat-form-field class="example-full-width">-->
            <!--<input matInput placeholder="Username" class="form-control" formControlName="username">-->
          <!--</mat-form-field>-->
          <!--<mat-form-field class="example-full-width">-->
            <!--<input matInput placeholder="Password" class="form-control" type="password" formControlName="password">-->
          <!--</mat-form-field>-->
          <!--<button mat-button color="primary">Log In</button>-->
        <!--</form>-->
      <!--</mat-card-content>-->
      <!--&lt;!&ndash;<mat-card-actions style="margin-bottom: 0">&ndash;&gt;-->
        <!--&lt;!&ndash;<button mat-button color="primary">Log In</button>&ndash;&gt;-->
      <!--&lt;!&ndash;</mat-card-actions>&ndash;&gt;-->
      <!--<mat-divider></mat-divider>-->
      <mat-card-title>Sign Up</mat-card-title>
      <mat-card-content style="margin-bottom: 0">
        <form [formGroup]="signup_form">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="First Name" class="form-control" formControlName="firstName">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Last Name" class="form-control" formControlName="lastName">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width" style="width: 100%">
              <input matInput placeholder="Username" class="form-control" formControlName="username">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width" style="width: 100%">
              <input matInput placeholder="Password" class="form-control" type="password" formControlName="password">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width" style="width: 100%">
              <input matInput placeholder="Email" class="form-control" formControlName="email">
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions style="display: flex; justify-content: space-around;">
        <button mat-button>Clear</button>
        <button mat-button color="primary" (click)="signup()" >Sign Up</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
