<div style="display: flex; justify-content: space-evenly; padding: 16px;">
  <!--welcome div-->
  <div style="padding: 16px">
    <h1>All your movies in one place</h1>
    <p>Some generic info about the website</p>
  </div>
  <!--auth div-->
  <div style="padding: 16px;">
    <mat-card style="padding-bottom: 24px">
      <mat-card-title style="margin-bottom: 0; font-size: 22px; text-align: center;">Log In</mat-card-title>
      <mat-card-content style="margin-bottom: 8px">
        <form [formGroup]="loginForm">
          <mat-error *ngIf="invalidLogin" style="text-align: center; margin-top: 8px">Invalid username or password</mat-error>
          <mat-form-field style="width: 39%">
            <input matInput placeholder="Username" class="form-control" formControlName="username">
          </mat-form-field>
          <mat-form-field style="width: 39%">
            <input matInput placeholder="Password" class="form-control" [type]="loginPasswordHide ? 'password' : 'text'"
                   formControlName="password">
            <mat-icon matSuffix [style.opacity]="loginForm.get('password').value ? 1 : 0" 
                      (click)="loginForm.get('password').value && loginPasswordHide = !loginPasswordHide">
              {{loginPasswordHide ? 'visibility' : 'visibility_off'}}
            </mat-icon>
          </mat-form-field>
          <button mat-button color="primary" style="width: 19%" (click)="login()">Log In</button>
        </form>
      </mat-card-content>
      <!--<mat-card-actions style="margin-bottom: 0">-->
        <!--<button mat-button color="primary">Log In</button>-->
      <!--</mat-card-actions>-->
      <mat-divider></mat-divider>
      <mat-card-title style="margin: 32px 0 0 0; font-size: 22px; text-align: center;" >Sign Up</mat-card-title>
      <mat-card-content style="margin-bottom: 0">
        <form [formGroup]="signupForm">
          <div class="form-group">
            <mat-form-field style="width: 49%">
              <input matInput placeholder="First Name" class="form-control" formControlName="firstName">
            </mat-form-field>
            <mat-form-field style="width: 49%">
              <input matInput placeholder="Last Name" class="form-control" formControlName="lastName">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field style="width: 99%">
              <input matInput placeholder="Username" (keyup)="usernameExists = false" class="form-control"
                     formControlName="username">
              <mat-error *ngIf="signupForm.get('username').hasError('usernameExists')">Username already exists</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field style="width: 99%">
              <input matInput placeholder="Password" class="form-control" [type]="signupPasswordHide ? 'password' : 'text'"
                     formControlName="password">
                     <mat-icon matSuffix [style.opacity]="signupForm.get('password').value ? 1 : 0" 
                     (click)="signupForm.get('password').value && signupPasswordHide = !signupPasswordHide">
             {{signupPasswordHide ? 'visibility' : 'visibility_off'}}
           </mat-icon>
              <mat-hint>Between 8 and 20 characters</mat-hint>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field style="width: 99%">
              <input matInput placeholder="Email" class="form-control" formControlName="email">
              <mat-error *ngIf="signupForm.get('email').hasError('email')">Please enter a valid email address</mat-error>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions style="display: flex; justify-content: space-around; flex-direction: row-reverse">
        <button mat-button color="primary" (click)="signup()" >Sign Up</button>
        <button mat-button (click)="clear()">Clear</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
